@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Noto+Serif:wght@400;700&display=swap');

:root {
    --clr-primary: #25557c;
    --clr-secondary: #E25822;
    --clr-background: #f1eedb;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color:var(--clr-background);
}

h1, h2 {
    font-family: 'Noto Serif', serif;
}

h1 {
    font-weight: bold;
    font-size: xxx-large;
}

p {
    font-family: 'Lato', sans-serif;
}

a {
    text-decoration: none;
}

a:link, a:visited  {
    color: var(--clr-secondary);
}

a:hover {
    color: var(--clr-primary);
}

/* header */

.header {
    margin-top: 2%;
    text-align: center;
}

.header h2 {
    text-transform: uppercase;
    letter-spacing: 1px;
}

.header a:link, .header a:visited  {
    color: var(--clr-primary);
}

.header a:hover {
    color: var(--clr-secondary);
}

.header__line{
    margin-left: 40%;
    margin-right: 40%;
    height: 2px;
    background-color: var(--clr-secondary);
}

/*main*/

.about__wrapper {
    display: grid;
    place-items: center;
    grid-template-columns: repeat(3, 1fr);
}

.title {
    padding-top: 2em;
    justify-self: end;
}

.about__text {
    padding-top: 2em;
    justify-self: start;

}

.skills__text {
    text-align: center;
    display: grid;
}

.img__wrapper {
    display: grid;
    height: 100%;
    padding-right: 1em;
    padding-left: 1em;
}

.img__center {
    max-width: 100%;
    max-height: 100vh;
    margin: auto;
}

.skills__wrapper {
    display: grid;
    place-items: center;
    grid-template-columns: repeat(3, 1fr);
    padding-left: 20%;
    padding-right: 20%;
}

.skills__text h2 {
    margin-top: 0.75em;
    margin-bottom: 0.5em;
}

.skill__text__box {
    align-self: start;
    text-align: center;
}

.skill__text__box h3 {
    margin-top: 0.5em;

}

.skill__text__box p {
    text-align: justify;
    padding: 0.5em 1em;
}

/*fontaawsome icons */

.fas, .far {

    color: var(--clr-primary);
}

/*footer*/

footer {
    margin-top: 1%;
    text-align: center;
    padding-bottom: 1em;
}

/*Portfolio site */

.decor {
    color: var(--clr-secondary);
}

.dot {
    height: 7px;
    width: 7px;
    background-color: var(--clr-primary);
    border-radius: 50%;
    display: inline-block;
    margin-bottom: 10px;
    margin-top: 10px;
}

.projects__wrapper{
    margin-top: 1%;
    margin-left: 30%;
    margin-right: 30%;
    display: grid;
    place-items: center;
}

.projects__wrapper h3 {
    font-size: 1.5rem;
}

.weather-project__wrapper {
    display: grid;
    place-items: center;
}

.crystal-ball{
    font-size: 60px;
    cursor: pointer;
}
.crystal-ball-clicked{
  opacity: 0.5;
}

/*mobile and smaller screens */

@media screen
and (min-width: 320px)
and (max-width: 960px) {

    .about__wrapper {
        display: grid;
        place-items: center;
        grid-template-columns: none;
        grid-template-rows: 1fr;
    }

    .title {
        padding-top: 2em;
        justify-self: auto;
    }

    .about__text {
        padding-top: 2em;
        justify-self: auto;
        text-align: center;
    }

    .skills__wrapper {
        display: grid;
        place-items: center;
        grid-template-columns: none;
        grid-template-rows: 1fr;
        margin-bottom: 1%;
        padding-left: 10%;
        padding-right: 10%;
    }

    .header__line{
        margin-left: 20%;
        margin-right: 20%;

    }
    .projects__wrapper{
        margin-left: 20%;
        margin-right: 20%;
    }

}